/*  your css code here. If applicable */
.nav-items{
	background-color:#D3D3D3;
	gap:20px;
	padding:10px;
}
.ul{
	display:flex;
	margin-right:1rem;
	list-style:none;
}
.box{
margin-right:16px;
}
.container{
	background-color:rgb(211, 211, 211);
	padding:10px;
}